apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: hello
  name: hello
spec:
  clusterIP: None
  ports:
  - name: web
    port: 8080
    targetPort: 0
  selector:
    app: hello
status:
  loadBalancer: {}
