apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: A Kubernetes Operator for exposing pods on User Defined Networks (UDNs)
    via standard DNS service discovery.
  displayName: Shadow Service DNS operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - udn
  - openshift
  - shadow
  - headless
  - ovn
  - networking
  links:
  - name: Operator
    url: https://operator.domain
  maturity: alpha
  provider:
    name: Abelardo Palma
  version: 0.0.0
