apiVersion: v1
kind: Namespace
metadata: 
  name: demo-flat
---
apiVersion: v1
kind: Service
metadata:
  name: hello
  namespace: demo-flat
  labels:
    app: hello
spec:
  ports:
  - port: 8080
    name: web
  clusterIP: None
  selector:
    app: hello
---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: web
  namespace: demo-flat 
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello
          image: openshift/hello-openshift
          env: 
          - name: RESPONSE
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
  serviceName: hello